<%- include('includes/head.ejs') %>

<br>
      <!-- <center><h2 class="title is-4">
      <span class="whiteText">Oh no, un Snorlax se ha comido esta ruta.
      <br> Error 404
      <br> Intenta ingesar a /pokemon
      </span></h2></center>
      <br> <br>
      <center><img src="https://media.distractify.com/brand-img/U5FRWXltc/0x0/snorlax-1-1690310001695.jpg" 
      alt="Snorlax durmiendo"> -->
      </center>
      hola
    </body>
</div>
</html>