<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-50 border dark:bg-gray-700">
    <div class="p-20">
        <svg class="block w-full ps-10 p-2.5r size-40" width="119" height="47" viewBox="0 0 119 47" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_152_3482)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M35.163 7.5285C35.9935 8.44921 36.6339 9.45767 36.8444 10.6625C37.0067 11.5914 37.1439 12.5182 36.9886 13.5101C36.8369 14.4794 36.5241 15.3348 36.1068 16.1903C36.025 16.3577 36.0192 16.6028 36.0704 16.7866C36.226 17.3465 36.4367 17.8908 36.607 18.447C36.8122 19.1167 36.4123 19.6619 35.7115 19.6641C35.5024 19.6647 35.2868 19.6186 35.0852 19.5578C34.4904 19.3784 33.9012 19.1811 33.3336 18.9984C30.6502 20.3255 28.0612 20.3902 25.5355 18.8529C23.5493 17.644 22.3415 15.8418 21.989 13.5632C21.7252 11.8583 22.0241 10.1989 22.9555 8.69532C24.1544 6.76031 25.8589 5.49419 28.1076 5.12696C30.8539 4.67839 33.2471 5.40446 35.163 7.5285ZM25.1599 9.65741C24.079 11.2758 23.9561 13.0015 24.8149 14.7458C25.6103 16.3611 26.941 17.331 28.719 17.6045C29.7399 17.7615 30.7696 17.6586 31.6992 17.1662C32.3297 16.8321 32.9154 16.4434 33.6909 16.8814C33.5338 16.2429 33.5806 15.7262 33.9099 15.1938C35.631 12.4114 34.4548 8.91823 31.3545 7.70053C29.0979 6.81428 26.5851 7.52361 25.1599 9.65741Z" fill="#6269E9"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.85644 19.6628V0H0V19.6628H2.85644ZM13.2435 19.9741C15.5286 19.9741 17.5455 19.3256 19.294 18.0285L18.0994 15.9274C17.4762 16.377 16.7275 16.7402 15.8532 17.0169C14.979 17.2936 14.1437 17.4319 13.3474 17.4319C12.0317 17.4319 10.98 17.1033 10.1923 16.4462C9.40461 15.789 8.9069 14.8984 8.69916 13.7743H19.6315C19.7008 13.3074 19.7354 12.8491 19.7354 12.3995C19.7354 10.2378 19.0949 8.51708 17.8138 7.23735C16.55 5.97492 14.9054 5.34371 12.8799 5.34371C10.7679 5.34371 9.04539 6.03545 7.71239 7.41894C6.39669 8.78513 5.73885 10.5231 5.73885 12.6329C5.73885 14.6563 6.37505 16.3856 7.64747 17.821C8.91988 19.2564 10.7852 19.9741 13.2435 19.9741ZM16.853 11.4397H8.69916C8.9069 10.3502 9.3873 9.47255 10.1404 8.80674C10.8934 8.14094 11.8066 7.80804 12.8799 7.80804C13.936 7.80804 14.8318 8.14094 15.5676 8.80674C16.3033 9.47255 16.7318 10.3502 16.853 11.4397ZM46.0926 20C48.0142 20 49.5809 19.2391 50.7927 17.7173V19.6628H53.6232V0H50.7408V7.62646C49.477 6.10463 47.9189 5.34371 46.0666 5.34371C44.0584 5.34371 42.3965 6.05275 41.0808 7.47082C39.7478 8.88889 39.0813 10.6182 39.0813 12.6589C39.0813 14.7168 39.7478 16.4635 41.0808 17.8988C42.3965 19.2996 44.0671 20 46.0926 20ZM46.4561 17.38C45.1231 17.38 44.0411 16.9304 43.2101 16.0311C42.3792 15.1319 41.9637 14.0078 41.9637 12.6589C41.9637 11.3446 42.3792 10.2378 43.2101 9.33852C44.0411 8.42196 45.1231 7.96368 46.4561 7.96368C47.7891 7.96368 48.8711 8.42196 49.7021 9.33852C50.533 10.2378 50.9485 11.3446 50.9485 12.6589C50.9485 14.0078 50.533 15.1319 49.7021 16.0311C48.8711 16.9304 47.7891 17.38 46.4561 17.38ZM61.4654 20C63.0061 20 64.2612 19.585 65.2307 18.7549C66.2002 17.9248 66.6849 16.8958 66.6849 15.668C66.6849 14.1461 65.8885 12.9702 64.2959 12.1401C63.8977 11.9326 63.2398 11.6386 62.3223 11.2581L60.8941 10.6615C60.1151 10.3329 59.7256 9.82274 59.7256 9.131C59.7256 8.69866 59.8944 8.33549 60.2319 8.0415C60.5695 7.74751 61.0239 7.60052 61.5952 7.60052C62.8071 7.60052 63.8285 8.11068 64.6594 9.131L66.3213 7.36706C65.248 5.93169 63.7159 5.21401 61.7251 5.21401C60.3055 5.21401 59.1456 5.59447 58.2454 6.35538C57.3798 7.1163 56.947 8.07609 56.947 9.23476C56.947 10.7566 57.6914 11.9066 59.1802 12.6848C59.3274 12.7688 59.6022 12.9006 60.0046 13.0802L60.1519 13.1456C60.3809 13.2467 60.6456 13.3611 60.946 13.489C61.8636 13.8348 62.4262 14.0683 62.6339 14.1894C63.4303 14.5698 63.8285 15.1059 63.8285 15.7977C63.8285 16.2819 63.6121 16.6926 63.1793 17.0298C62.7465 17.3671 62.1925 17.5357 61.5173 17.5357C60.8422 17.5357 60.18 17.3498 59.5308 16.978C58.8816 16.6061 58.3493 16.083 57.9338 15.4086L56.0901 17.0687C56.6614 18.0199 57.4231 18.7462 58.3752 19.2477C59.3274 19.7492 60.3574 20 61.4654 20ZM75.6178 20C77.5394 20 79.132 19.2477 80.3958 17.7432V19.6628H83.1484V5.68093H80.3958V7.62646C79.132 6.10463 77.5394 5.34371 75.6178 5.34371C73.5923 5.34371 71.9217 6.02681 70.606 7.393C69.2903 8.75919 68.6325 10.4885 68.6325 12.5811C68.6325 14.6909 69.2903 16.4548 70.606 17.8729C71.9217 19.291 73.5923 20 75.6178 20ZM76.0073 17.38C74.6743 17.38 73.5923 16.9304 72.7613 16.0311C71.9304 15.1319 71.5149 14.0164 71.5149 12.6848C71.5149 11.3532 71.9304 10.2378 72.7613 9.33852C73.5923 8.42196 74.6743 7.96368 76.0073 7.96368C77.3057 7.96368 78.3876 8.42196 79.2532 9.33852C80.1015 10.2378 80.5256 11.3446 80.5256 12.6589C80.5256 13.9905 80.1015 15.1059 79.2532 16.0052C78.3876 16.9217 77.3057 17.38 76.0073 17.38ZM89.6922 19.6628V0H86.8358V19.6628H89.6922ZM100.079 19.9741C102.364 19.9741 104.381 19.3256 106.13 18.0285L104.935 15.9274C104.312 16.377 103.563 16.7402 102.689 17.0169C101.815 17.2936 100.979 17.4319 100.183 17.4319C98.8674 17.4319 97.8158 17.1033 97.0281 16.4462C96.2404 15.789 95.7427 14.8984 95.5349 13.7743H106.467C106.537 13.3074 106.571 12.8491 106.571 12.3995C106.571 10.2378 105.931 8.51708 104.65 7.23735C103.386 5.97492 101.741 5.34371 99.7157 5.34371C97.6037 5.34371 95.8812 6.03545 94.5482 7.41894C93.2325 8.78513 92.5746 10.5231 92.5746 12.6329C92.5746 14.6563 93.2108 16.3856 94.4832 17.821C95.7557 19.2564 97.621 19.9741 100.079 19.9741ZM103.689 11.4397H95.5349C95.7427 10.3502 96.2231 9.47255 96.9761 8.80674C97.7292 8.14094 98.6424 7.80804 99.7157 7.80804C100.772 7.80804 101.668 8.14094 102.403 8.80674C103.139 9.47255 103.568 10.3502 103.689 11.4397ZM113.531 20C115.071 20 116.326 19.585 117.296 18.7549C118.265 17.9248 118.75 16.8958 118.75 15.668C118.75 14.1461 117.954 12.9702 116.361 12.1401C115.963 11.9326 115.305 11.6386 114.387 11.2581L112.959 10.6615C112.18 10.3329 111.791 9.82274 111.791 9.131C111.791 8.69866 111.959 8.33549 112.297 8.0415C112.635 7.74751 113.089 7.60052 113.66 7.60052C114.872 7.60052 115.894 8.11068 116.725 9.131L118.386 7.36706C117.313 5.93169 115.781 5.21401 113.79 5.21401C112.371 5.21401 111.211 5.59447 110.311 6.35538C109.445 7.1163 109.012 8.07609 109.012 9.23476C109.012 10.7566 109.757 11.9066 111.245 12.6848C111.393 12.7688 111.667 12.9006 112.07 13.0802L112.217 13.1456C112.446 13.2467 112.711 13.3611 113.011 13.489C113.929 13.8348 114.491 14.0683 114.699 14.1894C115.495 14.5698 115.894 15.1059 115.894 15.7977C115.894 16.2819 115.677 16.6926 115.244 17.0298C114.812 17.3671 114.258 17.5357 113.582 17.5357C112.907 17.5357 112.245 17.3498 111.596 16.978C110.947 16.6061 110.414 16.083 109.999 15.4086L108.155 17.0687C108.726 18.0199 109.488 18.7462 110.44 19.2477C111.393 19.7492 112.423 20 113.531 20Z" fill="#4C4BDC"/>
            </g>
            <defs>
                <clipPath id="clip0_152_3482">
                    <rect width="118.75" height="20" fill="white"/>
                </clipPath>
            </defs>
        </svg>        
        <form class="max-w-sm mx-auto" method="POST">
            <% if (registro) {%> 
                <label for="email-address-icon" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Email</label>
                <div class="relative mb-5">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 16">
                    <path d="m10.036 8.278 9.258-7.79A1.979 1.979 0 0 0 18 0H2A1.987 1.987 0 0 0 .641.541l9.395 7.737Z"/>
                    <path d="M11.241 9.817c-.36.275-.801.425-1.255.427-.428 0-.845-.138-1.187-.395L0 2.6V14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2.5l-8.759 7.317Z"/>
                    </svg>
                </div>
                <input type="text" id="email-address-icon" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@mail.com">
                </div>
                <div class="mb-5">
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                    <div class="flex">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                            </svg>
                        </span>
                        <input type="text" id="username" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Juanito Perez">
                    </div>
                </div>
                <div class="mb-5">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Full Name</label>
                    <input type="text" id="text" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
                </div>
                <div class="mb-5">
                    <label for="contraseña" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                    <input type="password" id="contraseña" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
                </div>
                <div class="mb-5">
                    <label for="repeat-contraseña" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repeat password</label>
                    <input type="password" id="repeat-contraseña" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
                </div>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar Cuenta</button>
            <% } else { %>
                <div class="mb-5">
                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                    <div class="flex">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 border border-e-0 border-gray-300 rounded-s-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600">
                            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                            </svg>
                        </span>
                        <input type="text" id="username" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Juanito Perez">
                    </div>
                </div>
                <div class="mb-5">
                    <label for="contraseña" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
                    <input type="password" id="contraseña" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
                </div>   
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Registrar Cuenta</button> 

            <% } %>
        </form>
    </div>
</body>
</html>